@import "variables.scss";
@import "banner.scss";
@import "header.scss";
@import "grid.scss";
@import "main.scss";
@import "footer.scss";
@import "artist-banner.scss";
@import "popular-tracks.scss";
@import "discography.scss";
@import "other-artists.scss";

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    color: $main-text;
    background-color: black;
    overflow-x: hidden;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%column {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: $main-text;
}