.artist-banner-background {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2
}

.artist-banner {
    background-size: cover;
    background-position: right 27% top;
    background-image: url("../images/Morten Harket.png");
}

.artist-banner-content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.content {
    display: flex;
    flex-direction: column;
    height: 545 px;
}

@mixin text-size ($font, $line) {
    font-style: normal;
    font-weight: bold;
    font-size: $font;
    line-height: $line;
}

@media(min-width:1920px) {
    .artist-name {
        @include text-size(60px, 70px);
        margin-top: 280px;
    }
    .artist-fans {
        margin-top: 25px;
        @include text-size(18px, 21px);
    }
    .artist-banner-height {
        height: 550px;
    }
}

@media(max-width:1920px) {
    .artist-name {
        @include text-size(55px, 64px);
        margin-top: 280px;
    }
    .artist-fans {
        margin-top: 25px;
        @include text-size(17px, 20px);
    }
    .artist-banner-height {
        height: 550px;
    }
}

@media(max-width:1280px) {
    .artist-name {
        @include text-size(50px, 59px);
        margin-top: 283px;
    }
    .artist-fans {
        margin-top: 25px;
        @include text-size(16px, 19px);
    }
    .artist-banner-height {
        height: 566px;
    }
}

@media(max-width:1024px) {
    .artist-name {
        @include text-size(45px, 53px);
        margin-top: 286px;
    }
    .artist-fans {
        margin-top: 25px;
        @include text-size(15px, 19px);
    }
    .artist-banner-height {
        height: 582px;
    }
}

@media(max-width:768px) {
    .artist-name {
        @include text-size(40px, 47px);
        margin-top: 289px;
    }
    .artist-fans {
        margin-top: 25px;
        @include text-size(14px, 17px);
    }
    .artist-banner-height {
        height: 598px;
    }
}

@media(max-width:425px) {
    .artist-name {
        @include text-size(35px, 42px);
        margin-top: 292px;
    }
    .artist-fans {
        margin-top: 25px;
        @include text-size(14px, 16px);
    }
    .artist-banner-height {
        height: 614px;
    }
}

@media(max-width:375px) {
    .artist-name {
        @include text-size(30px, 35px);
        margin-top: 295px;
    }
    .artist-fans {
        margin-top: 25px;
        @include text-size(14px, 16px);
    }
    .artist-banner-height {
        height: 630px;
    }
}

.btns-flexbox {
    display: flex;
    flex-wrap: wrap;
}

.flexbox {
    display: flex;
}

.buttons-margin {
    margin-top: 40px;
}

.btn-text-position {
    align-items: center;
}

.btn-shape {
    width: 200px;
    height: 56px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-margin {
    margin-left: 35px;
}

@media(max-width:492px) {
    .btn-shape {
        width: calc(100vw - 40px);
    }
    .btn-margin {
        margin-left: 0;
        margin-top: 19px;
    }
    .btns-flexbox {
        justify-content: center;
    }
}

.btn-blue {
    background-color: $mix-button;
}

.btn-red {
    background-color: $selected-button;
}

.svg-prop {
    filter: invert(100%);
}

.svg-position-blue {
    margin-left: 19px;
}

.svg-position-red {
    margin-left: 21px;
}

.text-prop {
    font-weight: 400;
    color: $main-text;
    font-size: 14px;
    line-height: 16px;
}

.text-position {
    margin-left: 15px;
}
