@media(min-width:1280px) {
.grid {
    display: grid;
    width: 100vw;
    grid-template-rows: repeat(5, auto);
    row-gap: 100px;
    grid-template-columns: 1fr minmax(280px, 1200px) 1fr;
}
}

@media(max-width:1279px) {
    .grid {
        display: grid;
        width: 100vw;
        grid-template-rows: repeat(5, auto);
        row-gap: 100px;
        grid-template-columns: 20px minmax(280px, 1200px) 20px;
    }
    }