.menu-item {
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
}

.white {
    color: $main-text;
}

.grey {
    color: $grey-text;
}

.search-box {
    background-color: $search-background;
    border-radius: 50px;
    border: none;
    width: 264.1px;
    height: 25.71px;
    padding-left: 13.9px;
}

.header-position {
    position: absolute;
    width: 1200px;
    height: 30px;
    top: 25px;
}

@mixin header-element($l, $t) {
    position: absolute;
    left: $l;
    top: $t;
}

.header-element-1 {
    @include header-element(0px, 0px);
}

.header-element-2 {
    @include header-element(23.71px, 3.4px);
}

.header-element-3 {
    @include header-element(182px, 4px);
}

.header-element-4 {
    @include header-element(279.59px, 4px);
}

.header-element-5 {
    @include header-element(377.18px, 4px);
}

.header-element-6 {
    @include header-element(513.81px, 4px);
}

.header-element-7 {
    position: absolute;
    right: 0px;
    top: 0px;
}