.menu-item {
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
}

.white {
    color: $main-text;
}

.grey {
    color: $grey-text;
}

.search-box {
    background-color: $search-background;
    border-radius: 50px;
    border: none;
    width: 264.1px;
    height: 25.71px;
    padding-left: 13.9px;
    display: flex;
}

.header-position {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
}

.header-position-flex {
    display: flex;
    height: 30px;
    margin-top: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media(min-width:769px) {
.menu {
    width: 405px;
    height: 11px;
    justify-content: space-between;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 4px;
}
}

@media(max-width:768px) {
    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 52px;
    }
}

@media(max-width:425px) {
    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 102px;
    }
}

@media(max-width:768px) {
    .menu-item-col {
        margin-bottom: 10px;
    }
}

.icon-header {
    display: flex;
    flex-direction: row;
    height: 17px;
}

.icon-and-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 17px;
    margin-right: 2px;
}

.icon-position {
    margin-top: 3.4px;
    margin-left: 4px;
}