.tracks-section {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.header-styles {
    font-weight: 700;
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
    color: $main-text;
}

@media(max-width:426px) {
    .header-styles {
        font-size: 20px;
        line-height: 23px;
    }
}

.tracks {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: flex-start;
}

.track {
    display: flex;
    height: 50px;
    cursor: pointer;
    justify-content: space-between;
}

.left-side {
    display: flex;
}

.track-margin-bottom {
    margin-bottom: 25px;
}

.track-margin-right {
    margin-right: 68.02px;
}

@media(min-width:1189px) {
    .track-width {
        width: 531.98px;
    }
}

@media(max-width:1189px) {
    .add-track-margin-bottom {
        margin-bottom: 25px;
    }
    .track-width {
        width: calc(50% - 35px);
    }
}

@media(max-width:768px) {
    .track-margin-right {
        margin-right: 0;
    }
    .track-width {
        width: 531.98px;
    }
}

@media(max-width:572px) {
    .track-width {
        width: 100%;
    }
}

$icons: "Wild Seed", "Letter from Egypt", "Brother", "Wild Seed", "Letter from Egypt", "Out of My Hands";

@mixin song-icon($i, $icon-name) {
    .icon-#{$i} {
        width: 55.3px;
        height: 50px;
        background-size: 55.3px 50px;
        background-image: url("../images/#{$icon-name}.png");
    }
}

@for $i from 1 through 6 {
    @include song-icon ($i, nth($icons, $i));
}

.song-name {
    margin-left: 16.59px;
    margin-top: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $main-text;
}

.song-artist {
    position: absolute;
    margin-left: 71.89px;
    margin-top: 28px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $grey-text;
}

.song-duration {
    margin-right: 0;
    margin-top: 28px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $news-text;
}