$main-text: #FFFFFF;
$grey-text: #808080;
$date-text: #555555;
$line-text: #B8B8B8;
$btn-border: #E9E9E9;
$news-text: #8C8C8C;
$footer-text: #CACACA;
$music-box-text: #F89202;
$search-background: #3C3B3D;
$form-background: rgba(255, 255, 255, 0.1);
$access-button: #34C176;
$download-button: #FF4157;
$mix-button: #5328A1;
$selected-button: #95390C;
$footer-background: linear-gradient(89.75deg, #5328A1 32.83%, #95390C 81.56%);
$bottom-line: #EEEEEE;